body .icon{
    background: url('../../icons/compare.png?sprite=test');
}
.icon-1{
    height: 100px;
    width: 100px;
    background: url('../../icons/compress.png?sprite=test');
}
.icon-2{
    height: 100px;
    width: 100px;
    background: url('../../icons/diff.png?sprite');
}
.icon-3{
    height: 100px;
    width: 100px;
    background: url('../../icons/schema.png?sprite');
}
.icon-4{
    height: 100px;
    width: 100px;
    background: url('../../icons/rank.png?sprite=test');
}
.test{
    color: red;
}
