body {
    margin: 0;
}

.part {
    display: inline-block;
    width: 50%;
}

.source.simple {
    width: 128px;
    height: 128px;
    background: url('../../images/home.png');
}
.sprite.simple {
    width: 128px;
    height: 128px;
    background: url('../../images/home.png?sprite');
}

.source.query {
    width: 128px;
    height: 128px;
    background: url('../../images/lollipop.png');
}
.sprite.query {
    width: 128px;
    height: 128px;
    background: url('../../images/lollipop.png?sprite=sprite');
}

.source.rename {
    width: 128px;
    height: 128px;
    background: url('../../images/tag.png');
}
.sprite.rename {
    width: 128px;
    height: 128px;
    background: url('../../images/tag.png?sprite=sprite-nav');
}

.source.rename-2 {
    width: 128px;
    height: 128px;
    background: url('../../images/html.png');
}
.sprite.rename-2 {
    width: 128px;
    height: 128px;
    background: url('../../images/html.png?sprite=sprite-nav');
}
