# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Locks
package-lock.json
yarn.lock

# Cache
.DS_Store
.cache
.npm

# Environment
.env

# Dependency directories
node_modules/

# Editors
.vscode/
.idea/

# Build Output
dest/

# Coverage
lib-cov
coverage
.nyc_output
