.source.without-image-set {
    width: 128px;
    height: 128px;
    background: url('../../fixtures/images/retina/angry-birds.png');
}
.sprite.without-image-set {
    width: 128px;
    height: 128px;
    background: url('../../fixtures/images/retina/angry-birds.png?sprite');
}

.source.image-set {
    width: 128px;
    height: 128px;
    background: -webkit-image-set(url('../../fixtures/images/retina/angry-birds.png') 1x, url('../../fixtures/images/retina/angry-birds@2x.png') 2x);
}
.sprite.image-set {
    width: 128px;
    height: 128px;
    background: -webkit-image-set(url('../../fixtures/images/retina/angry-birds.png?sprite') 1x, url('../../fixtures/images/retina/angry-birds@2x.png?sprite') 2x);
}

.source.image-set-fallback {
    width: 128px;
    height: 128px;
    background: url('../../fixtures/images/retina/angry-birds.png');
    background: -webkit-image-set(url('../../fixtures/images/retina/angry-birds.png') 1x, url('../../fixtures/images/retina/angry-birds@2x.png') 2x);
}
.sprite.image-set-fallback {
    width: 128px;
    height: 128px;
    background: url('../../fixtures/images/retina/angry-birds.png?sprite');
    background: -webkit-image-set(url('../../fixtures/images/retina/angry-birds.png?sprite') 1x, url('../../fixtures/images/retina/angry-birds@2x.png?sprite') 2x);
}

.source.image-set-and-others {
    width: 100px;
    height: 150px;
    background: url('../../fixtures/images/retina/angry-birds.png');
    background: -webkit-image-set(url('../../fixtures/images/retina/angry-birds.png') 1x, url('../../fixtures/images/retina/angry-birds@2x.png') 2x);
    background-size: 80%;
    background-position: 30px 20px;
    background-repeat: no-repeat;
}
.sprite.image-set-and-others {
    width: 100px;
    height: 150px;
    background: url('../../fixtures/images/retina/angry-birds.png?sprite');
    background: -webkit-image-set(url('../../fixtures/images/retina/angry-birds.png?sprite') 1x, url('../../fixtures/images/retina/angry-birds@2x.png?sprite') 2x);
    background-size: 80%;
    background-position: 30px 20px;
}
.source.image-set-captain-america {
    width: 128px;
    height: 128px;
    background: url('../../fixtures/images/retina/captain-america.png');
    background: -webkit-image-set(url('../../fixtures/images/retina/captain-america.png') 1x, url('../../fixtures/images/retina/captain-america@2x.png') 2x);
}
.sprite.image-set-captain-america {
    width: 128px;
    height: 128px;
    background: url('../../fixtures/images/retina/captain-america.png?sprite');
    background: -webkit-image-set(url('../../fixtures/images/retina/captain-america.png?sprite') 1x, url('../../fixtures/images/retina/captain-america@2x.png?sprite') 2x);
}
