body .icon {
    background: url('../../images/adaptive.png?sprite');
}

.icon-1 {
    height: 128px;
    width: 128px;
    background: url('../../images/calculator.png?sprite');
}

.icon-2 {
    height: 128px;
    width: 128px;
    background: url('../../images/gift.png?sprite=sprite');
}

.icon-3 {
    height: 128px;
    width: 128px;
    background: url('../../images/html.png?sprite=sprite2');
}

.icon-4 {
    height: 128px;
    width: 128px;
    background: url('../../images/light.png?sprite=sprite2');
}

.test {
    color: red;
}
