body .icon{
    height: 200px;
    width: 200px;
    background-image: url('../../icons/compare.png?sprite=test');
    background-size: 100%;
    background-position: 10px 10px;
}
.icon-1{
    height: 200px;
    width: 100px;
    background: url('../../icons/compress.png?sprite=test');
    background-size: 100%;
}
.icon-2{
    height: 150px;
    width: 150px;
    background: url('../../icons/diff.png?sprite=test');
    background-size: 150px 150px;
}
/*
.icon-2{
    height: 100px;
    width: 100px;
    background: url('../../icons/diff.png?sprite');
}
.icon-3{
    height: 100px;
    width: 100px;
    background: url('../../icons/schema.png?sprite');
}
.icon-4{
    height: 100px;
    width: 100px;
    background: url('../../icons/rank.png?sprite=test');
}
.test{
    color: red;
}*/
