body {
    margin: 0;
}

.part {
    display: inline-block;
    width: 48%;
}

.source:nth-child(1) {
    width: 128px;
    height: 128px;
    background-image: url('../../images/adaptive.png');
}

.sprite:nth-child(1) {
    width: 128px;
    height: 128px;
    background-image: url('../../images/adaptive.png?sprite');
}

.source:nth-child(2) {
    width: 100px;
    height: 100px;
    background-image: url('../../images/calculator.png');
    background-size: 100%;
}

.sprite:nth-child(2) {
    width: 100px;
    height: 100px;
    background-image: url('../../images/calculator.png?sprite');
    background-size: 100%;
}

.source:nth-child(3) {
    width: 100px;
    height: 100px;
    background-image: url('../../images/calculator.png');
    background-position: 40px -40px;
}

.sprite:nth-child(3) {
    width: 100px;
    height: 100px;
    background-image: url('../../images/calculator.png?sprite');
    background-position: 40px -40px;
}

.source:nth-child(4) {
    width: 100px;
    height: 100px;
    background-image: url('../../images/gift.png');
    background-size: 100%;
    background-position: 40px -40px;
}

.sprite:nth-child(4) {
    width: 100px;
    height: 100px;
    background: url('../../images/calculator.png?sprite') 40px -40px;
    background-size: 100%;
}

.source:nth-child(5) {
    width: 200px;
    height: 200px;
    background-image: url('../../images/html.png');
    background-size: 200px 100px;
    background-position: 40px -40px;
}

.sprite:nth-child(5) {
    width: 200px;
    height: 200px;
    background-image: url('../../images/html.png?sprite');
    background-size: 200px 100px;
    background-position: 40px -40px;
}
