body .icon{
    background: url('../../images/retina/avatar01.png?sprite=test&retina');
}
.icon-1{
    height: 89px;
    width: 89px;
    background: url('../../images/retina/avatar01.png?sprite=test&retina&retina3x&retina4x');
}
.icon-2{
    height: 89px;
    width: 89px;
    background: url('../../images/retina/avatar02.png?sprite&&retina');
}
.icon-3{
    height: 128px;
    width: 128px;
    background: url('../../images/calculator.png?sprite');
}
.icon-4{
    height: 89px;
    width: 89px;
    background: url('../../images/retina/avatar03.png?sprite=test');
}
.icon-5{
    height: 89px;
    width: 89px;
    background: url('../../images/retina/avatar04.png?sprite=test&retina');
}
.icon-6{
    height: 89px;
    width: 89px;
    background: url('../../images/retina/avatar05.png?sprite=test&retina');
}
.icon-7{
    height: 89px;
    width: 89px;
    background: url('../../images/retina/avatar05.png?sprite=test');
}
